.product-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: auto;
}

.product-card h2 {
  font-size: var(--mainheading-29);
}
.product-card p {
  font-size: var(--middleheading-18);
  margin: 1rem 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 5px 0;
}

.product-card img {
  width: 100%;
  height: 20rem;
}

.product-card h6 {
  font-size: var(--middleheading-18);
  margin: 0.3rem 0 0.3rem;
}

.product-card p {
  font-size: var(--middleheading-18);
  text-decoration: underline;
}
.product-card p:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

@media (width >= 640px) {
  .product-card {
    flex: 0 0 calc(33% - 0px);
  }
}

@media (width <= 760px) {
  .product-card {
    align-items: center;
    flex: 0 0 calc(100% - 20px);
  }

  .product-card br {
    display: none; /* Hide <br> tags on smaller screens */
  }
}
