.subhead-div {
  display: flex;
  flex-direction: row;
}

.subhead-image-div {
  width: 50%;
  overflow: hidden;
}

.subhead-image {
  display: block;
  max-width: 100%;
}

.subhead-text-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  padding: 0 5em;
}

.subhead-text-div h2 {
  font-size: var(--mainheading-465);
  text-shadow: 10px 10px 5px var(--secondary-color);
}

.subhead-text-div p {
  font-size: var(--bodytext-18);
}

.subhead-button-logo-div {
  display: flex;
  gap: 50px;
}
.subhead-button-logo-div img {
  width: 50px;
  transition: 3s;
}
.subhead-button-logo-div img:hover {
  transform: rotateZ(900deg)
}

@media (width <= 1024px) {
  .subhead-div {
    flex-direction: column;
  }

  .subhead-text-div {
    width: 100%;
    padding: 0 2em;
  }

  .subhead-image-div {
    margin-bottom: 6rem;
    width: 100%;
    height: 60vh;
  }

  .subhead-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (width <= 640px) {
  .subhead-text-div h2 {
    font-size: var(--middleheading-29);
  }
}
