.WSWU-section {
  background-color: var(--primary-color);
  margin: 6em 0 6em;
}

.WSWU-h2 {
  padding: 5rem 0 5rem;
  text-align: center;
  font-size: var(--mainheading-465);
  font-family: "SF TransRobotics", sans-serif;
}

.WSWU-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}

.WSWU-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  /* justify-content: center; */
}

.WSWU-card img {
  width: 5em;
}

.WSWU-card h6 {
  font-size: var(--bodytext-18);
  padding: 1rem 0 1rem;
}

/* Media queries to adjust the layout based on screen size */

/* On desktop, display in one row */
@media (width >= 1295px) {
  .child {
    flex: 0 0 calc(25% - 20px); /* Set 25% width (minus margins) for each child */
  }
}

@media (width <= 1295px) {
  .WSWU-card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (width <= 640px) {
  .WSWU-h2 {
    font-size: var(--middleheading-29);
  }

  .WSWU-card {
    flex: 0 0 calc(100% - 20px);
  }
}
