.shop-div {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.shop-div img {
  width: 50px;
  transition: 3s;
}
.shop-div img:hover {
  transform: rotateZ(900deg)
}

.shop-heading {
  text-align: center;
  font-size: var(--mainheading-465);
  padding: 7rem 0;
}

@media (width <= 640px){
  .shop-div {
    gap: 20px;
  }
}