.footer-section {
  background-color: var(--primary-color);
}

.footer-container {
  max-width: 1024px;
  margin: auto;
  padding: 3rem 2rem;
}

.footer-container h2 {
  font-size: var(--mainheading-29);
}

.footer-subscribe-section {
    margin: 2rem 0; 
    display: flex;
}

.footer-subscribe-section input {
  letter-spacing: 0.4em;
  width: 70%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  /* border-radius: 9999rem; */
  /* max-width: 70%; */
}

.footer-subscribe-section button {
    border: none;
    border-radius: 999rem;
    margin-left: 0.5rem;
    padding: 1rem 2rem;
    letter-spacing: 0.4em;
}
