.footer-section {
  background-color: var(--primary-color);
}

.footer-container {
  max-width: 1024px;
  margin: auto;
  padding: 3rem 10px;
}

.footer-container h2 {
  font-size: var(--middleheading-29);
}

.footer-subscribe-section {
  margin: 2rem 0;
  display: flex;
}

.footer-subscribe-section input {
  letter-spacing: 0.4em;
  width: 70%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}

.footer-subscribe-section button {
  border: none;
  border-radius: 999rem;
  margin-left: 0.5rem;
  padding: 1rem 2rem;
  letter-spacing: 0.4em;
}
.footer-subscribe-section button:hover {
  background-color: lightgray;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}
.footer-socials svg:hover {
  fill: var(--secondary-color);
  cursor: pointer;
}

@media (width <= 640px) {
  .footer-container h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer-subscribe-section {
    margin: 0;
    flex-direction: column;
  }

  .footer-subscribe-section input {
    margin: auto;
  }

  .footer-subscribe-section button {
    margin: 2rem auto;
    width: 200px;
  }

  .footer-socials {
    justify-content: center;
  }
}

/* BOTTOM FOOTER SECTION------------------------------- */

.bottom-footer-section {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 1rem;
}

.bottom-footer-section div {
  display: flex;
  gap: 1rem;
}

@media (width <= 640px) {
  .bottom-footer-section {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .bottom-footer-section div {
    order: 1;
    gap: 4rem;
  }
  .bottom-footer-section .copyright-text {
    order: 2;
  }
}
