.subhead-div {
  display: flex;
  flex-direction: row;
  background-color: orange;
}

.subhead-image-div {
  width: 50%;
  overflow: hidden;
}

.subhead-image {
  display: block;
  max-width: 100%;
}

.subhead-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
