* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Calibri", sans-serif;
}

:root {
  --primary-color: #ed693c;
  --secondary-color: #e14915;
  --bodytext-18: 18px;
  --middleheading-29: 29px;
  --mainheading-465: 46.5px;
  --mainheading-75: 75px;
}
